**/.DS_Store

.gradle
**/.gradle/**/*

.idea/

.kotlin/

build
**/build/**/*

coverage-error.log

local.properties
!**/test/resources/**/local.properties
!**/testIntegration/resources/**/local.properties
