name: build-kotlin-dispatcher

on:
  workflow_dispatch:
    inputs:
      gradle-args:
        description: 'Gradle args for every step'
        default: ''
        required: false

jobs:
  build:
    uses: JavierSegoviaCordoba/reusable-workflows/.github/workflows/build-kotlin.yaml@main
    with:
      allow-github-actor-bots: false
      gradle-args: '${{ github.event.inputs.gradle-args }}'
      code-coverage-report: false
    secrets:
      OSS_USER: '${{ secrets.OSS_USER }}'
      OSS_TOKEN: '${{ secrets.OSS_TOKEN }}'
      OSS_STAGING_PROFILE_ID: '${{ secrets.OSS_STAGING_PROFILE_ID }}'
      SONAR_TOKEN: '${{ secrets.SONAR_TOKEN }}'
